.contacts
  width: 100%
  height: auto
  position: relative
  overflow: hidden
  &_map
    width: auto
    height: auto
    img
      width: auto
      height: 90vh
      @media screen and (max-width: $tablet)
        height: 500px
      @media screen and (max-width: $mobile)
        height: 300px
        margin-left: -20px
    @media screen and (max-width: $mobile)
      padding-top: 100%
  &_data
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1
    &_flex
      width: 100%
      height: 100%
      display: flex
      flex-direction: column
      justify-content: space-around
      @media screen and (max-width: $mobile)
        display: block

    &_wrapper
      position: relative
      width: 95%
      height: auto
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07)
      transform: rotate3d(1, 0, 0, 91deg)
      transition: transform 0.8s ease-out
      &_active
        transform: rotate3d(1, 0, 0, 0deg)
      @media screen and (max-width: $mobile)
        width: 115vw
        margin-bottom: 18px
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.07)
        &:before
          content: ''
          display: block
          position: absolute
          height: 50%
          top: 25%
          left: 75%
          width: 15%
          border-radius: 100%
          background-color: white
          box-shadow: inset 0 7px 25px rgba(0, 0, 0, 0.07)
      img
        width: 100%
        height: auto
    &_content
      width: 100%
      display: block
      padding: 37px 60px
      position: absolute
      top: 0
      left: 0
      @media screen and (max-width: $screen)
        padding: 20px 40px
      @media screen and (max-width: $tablet)
        padding: 20px
      @media screen and (max-width: $mobile)
        padding: 10px 20px
    &_header
      font-size: 32px
      font-family: Proba
      font-weight: 600
      line-height: 32px
      color: black
      @media screen and (max-width: $screen)
        font-size: 24px
      @media screen and (max-width: $tablet)
        font-size: 20px
    &_text
      width: 60%
      margin-top: 20px
      font-size: 24px
      font-family: Proba
      font-weight: 200
      line-height: 32px
      color: black
      @media screen and (max-width: $screen)
        font-size: 16px
        line-height: 18px
        margin-top: 10px
      b
        font-weight: 600
      @media screen and (max-width: $tablet)
        font-size: 14px
        line-height: 18px
        margin-top: 5px
      @media screen and (max-width: $mobile)
        width: 75%
