.nav
  $height: 80px
  $tablet_height: 30px
  position: fixed
  width: 100%
  height: $height
  line-height: $height
  top: 30px
  left: 0
  z-index: 100
  background-color: transparent
  transition: all 200ms
  @media screen and (max-width: $tablet)
    height: $tablet_height
    line-height: $tablet_height
  @media screen and (max-width: $mobile)
    top: 15px
  &_active
    top: 0
    background-color: white
  &_open
    overflow: visible !important
    &:before
      z-index: 2
      height: 0px !important
      border-top: 1px solid #00B4DD !important
      border-bottom: 1px solid #00B4DD !important
      top: 9px !important
      transform: rotate(45deg)
      transition: height 0.2s ease-in-out !important
    &:after
      transform: rotate(-405deg)
    .nav_menu
      display: flex
      opacity: 1
      z-index: 0
      right: 0
      transition: all 0.6s
  nav
    display: block
    width: 100%
    height: $height
    @media screen and (max-width: $tablet)
      height: $tablet_height
    @media screen and (max-width: $mobile)
      overflow: hidden
      width: 22px
      height: 20px
      margin-top: 5px
      position: relative
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        display: block
        box-sizing: border-box
        height: 100%
        border-top: 2px solid #00B4DD
        border-bottom: 2px solid #00B4DD
        width: 100%
        transition: transform 0.6s ease-in-out, height 0.6s ease-in-out 0.6s, border-bottom-width 0.6s, border-top-width 0.6s
      &:after
        content: ''
        position: absolute
        top: 9px
        height: 2px
        width: 100%
        background-color: #00B4DD
        transition: transform 0.6s ease-in-out
  &_logo
    display: block
    width: 100%
    height: $height
    line-height: $height
    position: relative
    z-index: 2
    @media screen and (max-width: $tablet)
      height: $tablet_height
      line-height: $tablet_height
    img
      height: 100%
  &_menu
    width: 100%
    height: $height
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    @media screen and (max-width: $tablet)
      height: $tablet_height
      line-height: $tablet_height
    @media screen and (max-width: $mobile)
      position: fixed
      width: 100vw
      height: 100vh
      opacity: 0
      display: flex
      top: 0
      right: 100vw
      flex-direction: column
      padding: 20vh 0
      background-color: white
      transition: all 0.6s
      a
        color: #00B4DD
        font-size: 24px
    &_link
      font-family: Proba
      font-size: 28px
      font-weight: 500
      display: inline-block
      width: auto
      color: #1D252D
      @media screen and (max-width: $screen)
        font-size: 18px
      @media screen and (max-width: $tablet)
        font-size: 14px
  &_lang
    position: relative
    width: 100%
    right: 0
    padding:  0 10px
    height: $height
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    border-radius: 20px 0 0 20px
    background-color: #009BD1
    box-shadow: 0px 10px 20px rgba(0, 155, 209, 0.44)
    color: white
    font-size: 20px
    font-family: Proba
    font-weight: 200
    @media screen and (max-width: $screen)
      width: 150%
    @media screen and (max-width: $tablet)
      width: 100%
      height: $tablet_height
    @media screen and (max-width: $mobile)
      width: 200%
    @media screen and (max-width: $mini)
      width: 280%

    &:after
      content: ''
      width: 50vw
      position: absolute
      height: 100%
      left: 100%
      background-color: #009BD1
      box-shadow: 0px 10px 20px rgba(0, 155, 209, 0.44)
    &_link
      color: white
      font-size: 20px
      font-family: Proba
      font-weight: 200
      @media screen and (max-width: $screen)
        font-size: 16px
      @media screen and (max-width: $tablet)
        font-size: 14px
      &_active
        font-size: 28px
        @media screen and (max-width: $screen)
          font-size: 24px
        @media screen and (max-width: $tablet)
          font-size: 18px
