@font-face {
  font-family: "Proba";
  src: url("../fonts/Proba Pro Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proba";
  src: url("../fonts/Proba Pro Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Proba";
  src: url("../fonts/Proba Pro Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "Proba";
  src: url("../fonts/Proba Pro Bold Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic; }
.nav {
  position: fixed;
  width: 100%;
  height: 80px;
  line-height: 80px;
  top: 30px;
  left: 0;
  z-index: 100; }
  .nav nav {
    display: block;
    width: 100%;
    height: 80px; }
  .nav_logo {
    display: block;
    width: 100%;
    height: 80px; }
    .nav_logo img {
      height: 100%; }
  .nav_menu {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .nav_menu_link {
      font-family: Proba;
      font-size: 28px;
      font-weight: 600;
      display: inline-block;
      width: auto;
      color: #1D252D;
      mix-blend-mode: difference; }
      @media screen and (max-width: 1680px) {
        .nav_menu_link {
          font-size: 18px; } }
  .nav_lang {
    position: relative;
    width: 100%;
    right: 0;
    padding: 0 10px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px 0 0 20px;
    background-color: #009BD1;
    box-shadow: 0px 10px 20px rgba(0, 155, 209, 0.44);
    color: white;
    font-size: 20px;
    font-family: Proba;
    font-weight: 200; }
    @media screen and (max-width: 1680px) {
      .nav_lang {
        width: 150%; } }
    .nav_lang:after {
      content: "";
      width: 50vw;
      position: absolute;
      height: 100%;
      left: 100%;
      background-color: #009BD1;
      box-shadow: 0px 10px 20px rgba(0, 155, 209, 0.44); }
    .nav_lang_link {
      color: white;
      font-size: 20px;
      font-family: Proba;
      font-weight: 200; }
      @media screen and (max-width: 1680px) {
        .nav_lang_link {
          font-size: 16px; } }
      .nav_lang_link_active {
        font-size: 28px; }
        @media screen and (max-width: 1680px) {
          .nav_lang_link_active {
            font-size: 24px; } }

.main {
  width: 100%;
  height: 100vh;
  position: relative; }
  .main_illustration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative; }
    .main_illustration_first {
      position: absolute;
      height: 110%;
      top: -10%;
      right: 0;
      width: 60vw; }
    .main_illustration_second {
      display: block;
      margin: 0 auto;
      width: 70%;
      position: relative;
      z-index: 2;
      left: -15%; }
  .main_text {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10vh 0; }
    .main_text_header {
      width: 99%;
      font-family: Proba;
      font-size: 74px;
      color: #009bd1;
      font-weight: 200; }
    .main_text_btn {
      height: 70px;
      line-height: 65px;
      text-align: center;
      background-color: #00b4dd;
      border-radius: 10px;
      box-shadow: 0px 10px 15px rgba(0, 180, 221, 0.51);
      width: calc(50% - 15px);
      font-size: 32px;
      color: white;
      font-family: Proba;
      font-weight: 200; }
  .main_ilu {
    position: absolute;
    width: 30%;
    right: -5%;
    top: 75vh;
    height: auto;
    text-align: center; }
    .main_ilu img {
      width: 100%;
      display: inline-block;
      height: auto; }

.about {
  width: 100%;
  height: auto;
  margin-top: 150px; }
  .about_img {
    margin-top: 200px;
    width: 100%;
    height: auto; }
  .about_illustration {
    position: absolute;
    left: -5%;
    top: 150px;
    width: 100%; }
    .about_illustration img {
      width: 80%;
      opacity: 0.21; }
  .about_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center; }
  .about_header {
    color: #00b4dd;
    display: block;
    font-family: Proba;
    font-size: 80px;
    font-weight: 200; }
  .about_block {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f9fcff;
    border-radius: 400px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    position: relative; }
    .about_block:before {
      content: "";
      display: block;
      position: absolute;
      height: 400px;
      width: 70%;
      left: 15%;
      border-radius: 100%;
      bottom: calc(100% - 100px);
      background-color: white;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07); }
    .about_block_header {
      position: relative;
      z-index: 1;
      width: 100%;
      font-family: Proba;
      font-size: 32px;
      color: black;
      text-align: center;
      line-height: 100px; }
    .about_block_text {
      display: block;
      width: 70%;
      font-family: Proba;
      font-size: 24px;
      margin: 0 auto;
      padding-bottom: 65px;
      padding-top: 40px;
      line-height: 30px;
      color: black; }

a {
  text-decoration: none; }

@media screen and (min-width: 1680px) {
  .container {
    max-width: 90vw; } }

.main_wrapper {
  background-image: url("../img/main_background.svg"), url("../img/main_ilu.png"), linear-gradient(to bottom, #009BD1 50vw, #ffffff 0%);
  background-size: 122vw, 13vw, 50vw;
  background-position: -6vw -25vw, 78vw 42vw, 50vw 25vw;
  background-repeat: no-repeat; }

.margin-bottom {
  margin-bottom: 50px; }

.margin-offset-top {
  margin-top: -150px; }

/*# sourceMappingURL=style.css.map */
