$screen: 1680px
$tablet: 991.98px
@import "font"
@import "header"
@import "main"
@import "about"
@import "seasons"
@import "valuers"
@import "clients"
@import "contacts"
@import "footer"

a
  text-decoration: none
.container
  @media screen and (min-width: $screen)
    max-width: 90vw
.main_wrapper
  background-image: url("../img/main_background.svg"),  url("../img/main_ilu.png"), linear-gradient(to bottom, #009BD1 50vw, rgba(255,255,255,0) 0%), url("../img/second-background.svg")
  background-size: 122vw, 13vw, 50vw, 116vw
  background-position: -6vw -25vw, 78vw 42vw, 50vw 25vw, -6vw -30vh
  background-repeat: no-repeat
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07)
  padding-bottom: 150px
  @media screen and (max-width: $screen )
    background-image: url("../img/main_background.svg"),  url("../img/main_ilu.png"), linear-gradient(to bottom, #009BD1 50vw, rgba(255,255,255,0) 0%), url("../img/second-background.svg")
    background-size: 122vw, 13vw, 50vw, 116vw
    background-position: -6vw -35vw, 78vw 32vw, 50vw 15vw, -6vw -30vh
    background-repeat: no-repeat
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07)
    padding-bottom: 100px
  @media screen and (max-width: $tablet)
    background-image: url("../img/main_background.svg"),  url("../img/main_ilu.png"), linear-gradient(to bottom, #009BD1 70vw, rgba(255,255,255,0) 0%), url("../img/second-background.svg")
    background-size: 122vw, 13vw, 50vw, 0
    background-position: -6vw -15vw, 78vw 52vw, 50vw 15vw, -6vw -30vh
    background-repeat: no-repeat
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07)
    padding-bottom: 100px
    background-color: #F9FCFF
.margin-bottom
  margin-bottom: 50px
.margin-offset-top
  margin-top: -150px
  @media screen and (max-width: $screen)
    margin-top: -100px
  @media screen and (max-width: $tablet)
    margin-top: 30px