@import "font"
@import "header"
@import "main"
@import "about"
@import "seasons"
@import "valuers"
@import "clients"
@import "contacts"

a
  text-decoration: none
.container
  @media screen and (min-width: 1680px)
    max-width: 90vw
.main_wrapper
  background-image: url("../img/main_background.svg"),  url("../img/main_ilu.png"), linear-gradient(to bottom, #009BD1 50vw, rgba(255,255,255,0) 0%), url("../img/second-background.svg")
  background-size: 122vw, 13vw, 50vw, 116vw
  background-position: -6vw -25vw, 78vw 42vw, 50vw 25vw, -6vw -30vh
  background-repeat: no-repeat
.margin-bottom
  margin-bottom: 50px
.margin-offset-top
  margin-top: -150px